.place__paragraph {
    grid-area: place__paragraph;
    display: grid;
    grid-template-rows: repeat(2, max-content));
    row-gap: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}
@media screen and (max-width: 1270px) {
    .place__paragraph {
        max-width: 456px;
    }
}
@media screen and (max-width: 1010px) {
    .place__paragraph {
        max-width: 352px;
    }
}
@media screen and (max-width: 750px) {
    .place__paragraph {
        max-width: 288px;
    }
}


