.intro {
    max-width: 984px;
    margin: 92px auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    color: #FFFFFF;
    padding: 0;
}
@media screen and (max-width: 1280px) {
    .intro {
        width: calc(100% - 296px);
    }
}
@media screen and (max-width: 1160px) {
    .intro {
        width: calc(100% - 96px);
    }
}
@media screen and (max-width: 1000px) {
    .intro {
        width: calc(100% - 48px);
        margin: 88px auto;
    }
}
@media screen and (max-width: 750px) {
    .intro {
        width: calc(100% - 32px);
        margin: 64px auto;
    }
}
