.place__paragraph_type_bottom {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}
@media screen and (max-width: 750px) {
    .place__paragraph_type_bottom {
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        max-width: 288px;
        margin: 26px auto 0 auto;
    }
}