.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
}
@media screen and (max-width: 1270px) {
    .intro {
        width: calc(100% - 296px);
    }
}
@media screen and (max-width: 1020px) {
    .cover {
        width: 100%;
    }
}

