.cover {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
}
@media screen and (max-width: 1250px) {
    .cover {
        width: 100%;
    }
}
@media screen and (max-width: 1020px) {
    .cover {
        width: 100%;
    }
}

