.cover {
    width: calc(100% - 298px);
    background-image: url(../../images/__background.png);
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0;
}
@media screen and (max-width: 1020px) {
    .cover {
        width: 100%;
    }
}