.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 245px 0px 0px 0px;
    justify-self: center;
    align-self: center;
    color: #FFFFFF;
}
@media screen and (max-width: 1260px) {
    .cover {
        width: 100%;
        margin: 195px 0px 0px 0px;
    }
}
@media screen and (max-width: 1020px) {
    .cover {
        width: 100%;
        margin: 115px 0px 0px 0px;
    }
}
@media screen and (max-width: 440px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 33px 0px 0px 0px;
    }
}