.place {
    display: grid;
    color: #FFFFFF;
    grid-template-areas:
    "place__title place__website"
    "place__image place__chapter";
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 48px;
    align-items: flex-start;
}
@media screen and (max-width: 1250px) {
    .place {
        column-gap: 32px;
    }
}
@media screen and (max-width: 1010px) {
    .place {
        column-gap: 28px;
    }
}
@media screen and (max-width: 750px) {
    .place {
        width: 100%;
        margin: 0;
        grid-template-areas:
        "place__title"
        "place__website"
        "place__image"
        "place__chapter";
        row-gap: 32px;
        align-items: flex-start;
    }
}