@font-face {
    font-family: 'Overpass';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Overpass-Regular.ttf") format("ttf");
  }
  
  @font-face {
    font-family: 'Overpass';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Overpass-Medium.ttf") format("ttf");
  }
  @font-face {
    font-family: 'Overpass';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("Overpass-SemiBold.ttf") format("ttf");
  }