.place__website {
    grid-area: place__website;
    align-self: flex-end;
    justify-self: flex-start;
    margin: 0px;
    padding: 0px;
    max-width: 456px;
}
@media screen and (max-width: 1010px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 750px) {
    .place__website {
        max-width: 718px;
        width: calc(100% - 32px);
        margin: 0 auto;
    }
}
