.place__website {
    grid-area: place__website;
    align-self: flex-end;
    margin-bottom: 0;
    max-width: 456px;
}
@media screen and (max-width: 1010px) {
    .place__website {
        max-width: 352px;
    }
}
@media screen and (max-width: 7500px) {
    .place__website {
        max-width: 288px;
        margin: 0 auto 0 16px;
    }
}